name: Auto Deploy SarkariAfsar

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            cd /home/ubuntu/apps/sarkariafsar

            git pull origin main

            cd server
            npm install
            cd ..

            cd front
            npm install
            npm run build
            cd ..

            pm2 start ecosystem.config.cjs --update-env
            pm2 reload all
            pm2 save
